<section id="signUp">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://placehold.it/300x300" class="img-rounded" alt="">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <div class="col-md-6 form-input">
                          <input type="text" class="form-control" id="" placeholder="First Name">
                      </div>
                      <div class="col-md-6 form-input">
                          <input type="text" class="form-control" id="" placeholder="Last Name">
                      </div>
                      <div class="col-md-12 form-input">
                          <input type="email" class="form-control" id="" placeholder="E-mail">
                      </div>
                      <div class="col-md-12 form-input">
                          <button class="btn btn-block btn-info">Give us your info's</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</section>
